.product
{
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
    margin: 10px;
    padding: 20px;
    width:60%;
    max-height: 400px;
    min-width:100px;

}

.product>img
{
    max-height: 200px;
    width:20%;

    object-fit: contain;
    margin-bottom: 15px;;
}

.product_info
{
    height:100px ;
    margin-bottom: 15px;;
}

.product_price
{
    margin-top: 5px;
}

.product_rating
{
    display: flex;
    
}

.product_button
{
background: #f0c14b;;
border:1px solid;
margin-top: 10px;
border-color:  #a88734 #9c7e31 #846a29;;
color: #111;
}

.product_button:active
{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #ed9d1d;
    transform: translateY(4px);

}
.product_info
{
height: 100px;
margin-bottom: 15px;
}

@media screen and (max-width:400px) {

    .product{
        max-width: 350px;
        max-height: 350px;
        width:50%;
        padding: 5px;
        margin: 5px;
        margin-top: 10px;

    }

    .product_info{
        font-size: 12px;
    }
    
}